{% extends "base.html" %}



{% block content%}


<section class"">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                {% for post in data %}
                <div class="col my-3 mt-5">
                    <div class="shadow-lg p-3 card">
                        <div class="card-body">
                            <h5 class="card-title border-dark pb-2 border-bottom">{{post.title | truncatechars:35}}</h5>
                            <p class="card-text">{{post.content | truncatechars:200}}</p>
                            <p>Author: <a style="text-decoration:none" href="#">{{post.author.name}}</a></p>
                            <p>Category: 
                                {% for cat in post.category.all %}
                                <a style="text-decoration:none" href="#">{{cat.name}}, </a>
                                {% endfor %}
                            </p>
                            <a href="{% url "edit_post" post.id %}" class="btn btn-warning">Edit</a>
                            <a href="{% url "delete_post" post.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content%}